<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ProductMapper">

  
	<!-- 상품 목록 -->
	<select id="selectProductList">
	    select *
	    from (
			select p.*
			from   product p
			order by p.prd_no desc
	    )
	    <![CDATA[ 
	    where rownum  <= 16
	    ]]>
    </select>
  
	<!-- 상품 단건 조회 -->
	<select id="selectProduct" parameterType="int" resultType="product">
		select *
		from   product
		where  prd_no = #{prdNo}
	</select>
	
	<!-- 상품 조회수 증가 -->
	<update id="updateCntProduct" parameterType="int">
		update product
		set view_cnt = view_cnt + 1
		where prd_no = #{prdNo}
	</update>
	
	<!-- 상품 수정 -->
	<update id="updateProduct" parameterType="product">
		update product
		set prd_name = #{prdName},
		    price = #{price},
		    category = #{category},
		    prd_status = #{prdStatus},
		    prd_desc = #{prdDesc},
		    prd_tag = #{prdTag},
		    trade_type = #{tradeType},
		    prd_img = #{prdImg},
		    sido = #{sido},
		    sigungu = #{sigungu},
		    dong = #{dong},
		    lat = #{lat},
		    lng = #{lng}
		where prd_no = #{prdNo} 
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="deleteProduct" parameterType="int">
		delete from product
		where prd_no = #{prdNo}
	</delete>	
	
	<!-- 상품 판매상태 수정 -->
	<update id="updateSaleStatus">
		update product
		set sale_status = #{saleStatus}
		where prd_no = #{prdNo}
	</update>		
	
	
	<!--  내가 한 찜 목록보기  -->
	<select id="selectWish" parameterType="int" resultType="product">
	    select  p.prd_no,
	            p.prd_name,
	            p.price,
	            p.prd_img,
	            p.sale_status,
	            w.wish_no
	    from wish w join product p
	                  on w.prd_no = p.prd_no
	    where w.member_no = #{memberNo}
	    order by w.wish_no desc
	</select>

	<!--  상품별 찜한 사람 수 조회  -->
	<select id="countWishMember">
	    select  p.prd_no,
	            p.prd_name,
	            count(w.member_no) AS wish_count
	    from wish w join product p
	                  on w.prd_no = p.prd_no
	                group by p.prd_no, p.prd_name
	    order by wish_count desc
	</select> 

	<!-- 상품 이미지 경로 업데이트 -->
    <update id="updateProductImage" parameterType="map">
        UPDATE product
        SET prd_img = #{prd_img}
        WHERE prd_no = #{prd_no}
    </update>
  
  	<!-- 목록 조회 -->
 <select id="selectProducts" parameterType="com.yedam.vo.SearchVO"
        resultType="com.yedam.vo.ProductVO">
  select ta.*
  from (
    select rownum rn, p.*
    from (
      select prd_no, prd_name, prd_tag, price, prd_img,
             to_char(prd_date,'YYYY-MM-DD') as prdDate,
             category, sido, sigungu, dong, lat, lng,
             trade_type, sale_status, view_cnt
      from product
      <where>
        <if test="category != null and category != ''">
          and category = #{category}
        </if>

        <if test="sido != null and sido != ''">
          and sido = #{sido}
        </if>
        <if test="sigungu != null and sigungu != ''">
          and sigungu = #{sigungu}
        </if>
        <if test="dong != null and dong != ''">
          and dong = #{dong}
        </if>

        <if test="keyword != null and keyword != ''">
          <if test="searchCondition == 'N'">
            and prd_name like '%' || #{keyword} || '%'
          </if>
          <if test="searchCondition == 'T'">
            and prd_tag like '%' || #{keyword} || '%'
          </if>
          <if test="searchCondition == 'F'">
            and (sido like '%' || #{keyword} || '%'
              or sigungu like '%' || #{keyword} || '%'
              or dong like '%' || #{keyword} || '%')
          </if>
          <if test="searchCondition == null or searchCondition == '' 
                    or (searchCondition != 'N' and searchCondition != 'T' and searchCondition != 'F')">
            and (
                 prd_name like '%' || #{keyword} || '%'
              or prd_tag  like '%' || #{keyword} || '%'
              or sido     like '%' || #{keyword} || '%'
              or sigungu  like '%' || #{keyword} || '%'
              or dong     like '%' || #{keyword} || '%'
            )
          </if>
        </if>
      </where>
      order by prd_no desc
    ) p
  ) ta
  where ta.rn > (#{page} - 1) * #{amount}
  <![CDATA[
    and ta.rn <= #{page} * #{amount}
  ]]>
</select>



  <!-- 총 건수 (페이징 계산용) -->
 <select id="countProducts" parameterType="com.yedam.vo.SearchVO" resultType="int">
  SELECT COUNT(*)
  FROM product
  <where>
    <if test="category != null and category != ''">
      AND category = #{category}
    </if>
    <if test="keyword != null and keyword != ''">
      AND (
           prd_name LIKE '%' || #{keyword} || '%'
        OR prd_tag  LIKE '%' || #{keyword} || '%'
      )
    </if>
  </where>
</select>





</mapper>
