<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.WishMapper">

    <!-- 상품에서 찜한 사람 수 확인 -->
    <select id="selectProductWish" parameterType="int" resultType="int">
        select  count(member_no)
        from    wish
        where   prd_no = ${prd_no}
    </select>

</mapper>
