<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<style>
		.wrap{
		    display: flex;
	        flex-direction: column;
	        gap: 10px;
	        justify-content: center;
	        align-items: center;
		}
		thead{
			text-weight: bold;
			background: #333;
			color: #fff;
		}
		td, th{
			padding: 10px;
		}
		table, tr, td, th{
			border: 1px solid #aaa;
			border-collapse: collapse;
		}
		img{
			width: 50px;
		}
	
	</style>

</head>
<body layout:fragment="content">
	<div class="wrap">
	
		<h3>도서 조회</h3>
		<br>
		<table>
			<thead>
				<tr>
					<th>도서번호</th>
					<th>도서명</th>
					<th>표지</th>
					<th>출판일자</th>
					<th>금액</th>
					<th>출판사</th>
					<th>도서소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${book}" th:object="${book}">
					<td th:text="${book.bookNo}"></td>
					<td><a th:href="@{/info?(bookNo=${book.bookNo})}" th:text="${book.bookName}"></a></td>
					<td><img th:src="'/images/'+${book.bookCoverimg}"></td>
					<td th:text="${#dates.format(book.bookDate, 'yyyy/MM/dd')}"></td>
					<td th:text="${#numbers.formatInteger(book.bookPrice, 3, 'COMMA')}"></td>
					<td th:text="${book.bookPublisher}"></td>
					<td th:text="${book.bookInfo}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>