<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<style>
		.wrap{
		    display: flex;
	        flex-direction: column;
	        gap: 10px;
	        justify-content: center;
	        align-items: center;
		}
		thead{
			text-weight: bold;
			background: #333;
			color: #fff;
		}
		td, th{
			padding: 10px;
		}
		table, tr, td, th{
			border: 1px solid #aaa;
			border-collapse: collapse;
		}
		img{
			width: 300px;
		}
	</style>
</head>
<body layout:fragment="content">
	<div class="wrap">
		<h3>도서 상세정보</h3>
		<br>
		<table>
			<tr>
				<td>도서번호</td>
				<td th:text="${book.bookNo}"></td>
			</tr>
			<tr>
				<td>표지</td>
				<td>
					<img th:src="'/images/'+${book.bookCoverimg}">
				</td>
			</tr>
			<tr>
				<td>도서명</td>
				<td th:text="${book.bookName}"></td>
			</tr>
			<tr>
				<td>출판일자</td>
				<td th:text="${#dates.format(book.bookDate, 'yyyy/MM/dd')}"></td>
			</tr>
			<tr>
				<td>금액</td>
				<td th:text="${#numbers.formatInteger(book.bookPrice, 3, 'COMMA')}"></td>
			</tr>
			<tr>
				<td>출판사</td>
				<td th:text="${book.bookPublisher}"></td>
			</tr>
			<tr>
				<td>도서소개</td>
				<td th:text="${book.bookInfo}"></td>
			</tr>
		
		</table>
	</div>
</body>
</html>