.product-detail {
  width: min(1200px, 94%);
  margin: 40px auto;
}
.product-detail .pd-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pd-gallery {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
  max-height: 480px;
  min-height: 280px;
}
.pd-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* 판매완료(soldOut) 상태일때 활성화 */
.soldout-mark {
  position: absolute;
  inset: 0;
  display: none;
  background: rgba(0, 0, 0, .7);
  border-radius: 8px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.soldout-mark span{
  font-size: var(--font-lg);
  font-family: var(--font);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  border: 2px solid #fff;
  border-radius: 50%;
}
.product-detail.soldout .soldout-mark {
  display: flex;
}

/* Product_info */
.pd-summary{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  font-family: var(--font);
}
.pd-summary .pd-title {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: var(--black-color);
}
.pd-price {
  font-size: var(--font-lg);
  margin-bottom: 20px;
}
.pd-price strong {
  font-weight: 700;
}
.pd-price span{
  font-size: var(--font-md);
}
.pd-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  color: var(--gray);
  margin: 20px 0 10px;
}

/* 상품 상태(판매자한테만 보이는) */
.pd-meta .pd-status {
  margin-left: auto;
  /* display: none; */
}
.product-detail.is-seller .pd-meta .pd-status {
  display: block;
}
.pd-meta .form-select {
  width: 140px;
  height: 36px;
  padding: .25rem .75rem;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  color: var(--gray);
  font-size: var(--font-sm);
}
.pd-meta .form-select:focus{
  border-color: #2b8276; 
  box-shadow: 0 0 0 0.2rem rgba(43, 130, 118, 0.434);
}

/* 상품 간략 설명 */
.pd-attrs{
  margin: 30px 0 175px;
  line-height: 2.5;
  padding-left: 0 !important;
  color: var(--black-color);
}
.pd-attrs li {
  position: relative;
  padding-left: 14px;
}
.pd-attrs li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--gray);
}
.pd-attrs span{
  margin-right: 30px;
  color: var(--gray);
}

/* 버튼 */
.pd-actions{
  width: 100%;
}
.row-actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 10px;
}

.row-actions form{
  display: inline-block;
  width: 50%;
}
.common-btn{
  width: 100%;
  border: none;
}
a.abtn{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abtn{
  text-decoration: none;
  padding: 16px 20px;
  display: inline-block;
  background: var(--light-gray);
  border-radius: 8px;
  font-family: var(--font);
  font-size: var(--font-sm);
  cursor: pointer;
  transition: 0.5s;
  color: var(--black-color);
}
.abtn:hover{
  background-color: #aaa;
}
.seller-actions .row-actions{
  display: flex;
  justify-content: space-between;
}
.seller-actions .seller-btn{
  width: 50%;
}
.seller-actions form{
  width: 50%;
}
.seller-actions form button{
  width: 100%;
}


.btn-primary {
  width: 100%;
  border: 0;
  border-radius: 10px;
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
.btn-lg {
  height: 60px;
}
.btn-lg:hover{
  background-color: #03473f;
}
.is-disabled {
  background: var(--disable-color) !important;
  cursor: default;
}

/* 공통: 기본값은 숨김 */
.product-detail .buyer-actions,
.product-detail .seller-actions,
.product-detail .sold-actions { display: none; }

/* 구매자 화면*/
.product-detail.onsale   .buyer-actions { display:block; }
.product-detail.reserved .buyer-actions { display:block; }
.product-detail.soldout  .sold-actions  { display:block; }

/* 판매자 화면*/
.product-detail.sellerView .seller-actions { display:block; }  /* 판매중/예약중 모두 표시 */
.product-detail.sellerView .buyer-actions  { display:none; }   /* 판매자에겐 구매자 버튼 숨김 */

/* 판매자 + 판매완료일 때는 '판매완료'만 표시 */
.product-detail.sellerView.soldout .seller-actions { display:none; }
.product-detail.sellerView.soldout .sold-actions  { display:block; }



/* 상세설명 */
.pd-section {
  width: 100%;
  margin: 60px 0;
}
.pd-sec-title {
  font-size: var(--font-md);
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--black-color);
}
.pd-desc {
  color: var(--black-color);
  line-height: 1.9;
}


/* Cards */
.pd-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 24px;
}
.pd-card {
  border-top: 1px solid var(--light-gray);
  padding: 18px 6px;
}
.pd-card-head {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--gray);
}
.pd-card-body {
  color: var(--gray);
  margin-bottom: 30px;
}

/* Map placeholder */
.pd-map {
  width: 100%;
  margin-top: 26px;
  transform:none;
}
.map-box {
  width: 100%;
  height: 200px;
}
.map-box #map{
	width: 100%;
	height: 200px;
}

/* Q&A */
.pd-qna-head {
  margin-top: 100px;
}
.pd-qna-head .pd-sec-title {
  margin-bottom: 10px;
  color: var(--black-color);
  font-weight: 700;
  font-size: 22px;
}
.pd-qna-head .pd-help{
  margin-bottom: 30px;
}
.pd-qna-head button{
  width: 200px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: 0.5s;
}
.pd-qna-head button:hover{
  background-color: #03473f;
}

.qna-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  font-family: var(--font);
}

.qna-table thead th {
  background: #fafafa;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  text-align: left;
  padding: 12px;
}

.qna-table tbody td {
  border-bottom: 1px solid var(--light-gray);
  padding: 12px 12px;
  color: #444;
}
.qna-table .no-qna td{
	text-align: center;
	margin: 10px 0;
}
.qna-table tbody tr:hover {
  background: #fcfcfc
}

/* Pagination */
.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 18px 0 0;
}

.pagination li {
  list-style: none;
}

.pagination a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  color: #666;
  font-size: 14px;
}

.pagination li.active a {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}


/* tag # 붙이기 */
.tags{
	display: flex;
	gap: 8px;
}
.tag{
	display: inline-block;
	margin-right: 8px;
}
.tag::before{
	content: "#";
	color: var(--gray);
	margin-right: 2px;
}
/* Responsive */
@media (max-width: 992px) {
  .product-detail .pd-top {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}


/* 모달창 */
#tradeModal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999;
}
.modal_overlay{
    width: 100%;
    height: 100%;
	position: absolute; 
	background-color: rgba(0,0,0,0.7);
	transition: .5s;
}
.modal_dialog{
    max-width: 450px;
    position: relative; 
    margin: 15vh auto 0;
    background: #fff; 
    color: var(--black-color);
    border-radius: 16px; 
    padding: 28px 28px 24px;
    text-align: center;
    transition: 0.5s;
}
.modal_close{
    position: absolute;
    top: 30px;
    right: 35px;
    color: var(--black-color);
    font-size: var(--font-sm);
    border: none;
    background-color: #fff;
    transition: 0.3s;
}
.modal_close:hover{
    cursor: pointer;
    transform: scale(1.5);
}
#tradeModalTitle{
    font-size: var(--font-md);
    margin: 25px 0 30px 0;
    font-weight: 700;
}
.modal_header{
    margin-bottom: 40px;
    font-family: var(--font);
}
.trade-btn{
    display: inline-block;
    width: 100%;
    padding: 20px 15px;
    font-family: var(--font);
    font-size: var(--font-sm);
    color: var(--black-color);
    margin-bottom: 5px;
    font-weight: 600;
    transition: .5s;
    text-decoration: none;
}
.trade-btn:hover{
    background-color: var(--light-gray);
}
.tradeBtn-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.tradeBtn-primary:hover{
    background-color: var(--disable-color);
}

/* 작은 화면 */
@media (max-width:560px){
  .modal__dialog{ margin:12vh 16px 0; padding:24px; }
}
